name: CI Pipeline

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up Docker Compose
        run: |
          curl -L https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m) -o /usr/local/bin/docker-compose
          chmod +x /usr/local/bin/docker-compose
          sudo service docker start

      - name: Build and run containers
        run: |
          docker compose -f docker-compose.yml up -d --build
          sleep 10  # Wait for services to start

      - name: Run backend tests
        run: |
          docker compose -f docker-compose.test.yml up --build
           
          TESTS_PASSED=$(grep -oP '<span class="passed">\K[0-9]+' backend/reports/test_report.html)
          echo "passed=$TESTS_PASSED" >> "$GITHUB_ENV"
           
          TESTS_FAILED=$(grep -oP '<span class="failed">\K[0-9]+' backend/reports/test_report.html)
          echo "failed=$TESTS_FAILED" >> "$GITHUB_ENV"
           
          COVERAGE=$(grep -oP '<span class="pc_cov">\K[0-9]+' backend/htmlcov/index.html)
          echo "coverage=$COVERAGE" >> "$GITHUB_ENV"

      - name: Get PR Number
        uses: jwalton/gh-find-current-pr@master
        id: findPr
        with:
          state: open

      - name: Comment summary
        uses: peter-evans/create-or-update-comment@v4
        with:
          issue-number: ${{ steps.findPr.outputs.pr }}
          body: |
            Passed: ${{ env.passed }}
            Failed: ${{ env.failed }}
            Coverage: ${{ env.coverage }}%

      - name: Upload Coverage Report as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: backend/htmlcov/

      - name: Upload Test Report as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: backend/reports/

      - name: Stop containers
        run: docker compose -f docker-compose.test.yml down
